<% include partials/header.ejs %>

    <h2>Contact Me</h2>
    <hr id="title"><br>

    <p id="text">
        If you are interested in contacting me, please fill out the form below and I'll
        <br>message you as soon as I can :)
    </p>

    <div class="container">
        <div class="row">
            <div class="col-25">
                <label for="name">Full Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" placeholder="Your full name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" placeholder="Your e-mail..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Subject</label>
            </div>
            <div class="col-75">
                <textarea id="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" id="submit" value="Submit">
        </div>
    </div>

    <span id="reply"></span>

    <% include partials/footer.ejs %>
