body {
    width: 100%; 
    text-align: center;
}

footer {
    text-align: center;
}

#title {
    text-align: center; 
    background-color: lightgrey; 
    padding: 15px;
}

#welcomePage {
    background-color: lightblue;
}

#textBox {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 10px;
}

#text {
    font-size: 18px;
}

#goBack {
    color: blue;
}