<h1>{{message}}</h1>

<div class="chooseNumber">
    Please choose a number from 1 - 10:
    <input type="text" id="number">
    <input type="submit" id="submitButton" value="GO">
</div>

<div class="math">
    <span id="showMath"></span>
</div>

<script SRC="/challenges/routing/routerScript.js"></script>