<!DOCTYPE html>
<html>
    <head>
        <title>e-Portfolio</title>
        <link rel="stylesheet" href="/projects/project4a/css/styles.css" /> 
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </head>
    <body>
        <img src="/projects/project4a/img/abstract.png" alt="Light" height="200" width="100%">
            <ul>
                <li><a href="/projects/project4/">Home</a></li>
                <li><a href="/projects/project4/resume">Resume</a></li>
                <li><a href="/projects/project4/about">About</a></li>
                <li><a href="/projects/project4/contact">Contact Me</a></li>
            </ul>