            body {
                background-color: lightgrey;
                font-family: 'ABeeZee'; 
                font-size: 20px;
                margin-left: 100px;
                margin-right:100px;
            }
            footer {
                text-align: center; 
                font-size:15px; 
                background-color:white;
            }
            .name {
                text-align: center; 
                font-family: 'Aclonica';
                font-size: 46px;
                margin: 32px; 
            }
            hr {
                text-align: center; 
                border: 2px solid black;
            }
            .flex-container {
                display: flex;
                justify-content: center;
            }
            .flex-container > div {
                padding: 15px;
            }
            .flex-container > section {
                padding: 20px;
            }
            a:link, a:visited {
                color: dimgray;
                background-color: transparent;
                text-decoration: none;
                font-family: 'Aclonica';
                font-size: 25px;
            }
            a:hover {
                color: black;
            }
            img {
                height: 110%;
                width: 45%;
                border-radius: 15%;
                margin-left: 50px; 
            }
            blue{
                color: blue; 
            }
            table {
                border-collapse: collapse;
                width: 70%;
                background-color: white;
                font-family: 'ABeeZee'; 
                font-size: 20px;
            }
            td, th {
                border: 2px solid black;
                text-align: left;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: lightgrey;
            }
            .section{
                text-align: center; 
                font-family: 'Aclonica';
                font-size: 28px;
                background-color:white;
                padding: 10px;
            }