            body {
                background-color: black;
                color: white;
                font-family: 'ABeeZee'; 
                font-size: 20px;
                margin-left: 100px;
                margin-right: 100px; 
            }
            header, nav{
                font-family: 'Aclonica';
            }
            header, nav, footer {
                text-align: center; 
            }
            footer {
                clear: left;
                font-size: 15px; 
                color: lightgrey;
            }
            nav {
                padding: 10px;
                padding-bottom: 4px; 
                font-size: 25px;
                text-decoration: none; 
            }
            nav a:hover{
                border-bottom: 2px solid orange; 
                font-size: 105%;
                transition: .9s; 
            }
            hr {
                text-align: center; 
                border: 2px solid white;
            }
            #me, #welcomeText {
                float:left;
            }
            a:link, a:visited {
                color: dimgray;
                background-color: transparent;
                text-decoration: none;
            }
            blue{
                color: blue; 
            }
            table {
                border-collapse: collapse;
                width: 70%;
                background-color: white;
                font-family: 'ABeeZee'; 
                font-size: 20px;
            }
            td, th {
                border: 2px solid black;
                text-align: left;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: lightgrey;
            }
            
            .section{
                text-align: center; 
                font-family: 'Aclonica';
                font-size: 28px;
                background-color:white;
                padding: 10px;
            }
            .flex-container {
                display: flex;
                justify-content: center;
            }
            .flex-container > div {
                padding: 15px;
            }
            .flex-container > section {
                padding: 20px;
            }
            a {
                padding: 15px; 
            }