<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link href="/labs/lab7_pixabay/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <h1> Pixabay Search (Express Version) </h1><br> 
        <form action="/labs/lab7_pixabay/results" method="GET">
            Keyword: <input type="text" name="keyword"><br><br>
            Orientation: <select name="orientation" id="orientation">
                <option value="">Select One</option>
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
            </select>
            <button> Search! </button> <hr>
        </form> <br>