.top-line {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Open Sans';
    font-size: 14px;
}

#details-tooltip {
    color: white;
    text-decoration: white underline;
}

.store-logo {
    width: 100%;
    background-color: lightblue;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#cool-clothes-logo {
    display: block;
    width: 12%;
    padding: 10px;
}

#shopping-cart-logo {
    display: block;
    width: 75%;
}

.big-item {
    flex: 30 0 0;
}

.small-item {
    flex: 1 0 0;
}

footer {
    text-align: center;
    font-size: 10px;
}

.item-seciton {
    width: 66.66%;
    display: flex;
    flex-direction: column;
}

.total-section {
    width: 33.33%; 
}

#pajamas-pic {
    width: 75%;
    height: 80%;
    
}

#pants-pic {
    width: 5%;
    height: 5%;
}

.item-one {
    display: flex;
}
