<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
    </head>
    <body>
        <h1> Pixabay Search (Express Version) </h1>
        <form action="/results" method="GET">
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
        </form> <br>
        <img src='<%=image%>'>
    </body>
</html>