<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
    </head>
    <body>

        <h1> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        TODO: Display several images here!<br>
        
        <img src='<%= images.hits[0].largeImageURL %>' width='250'>
         <img src='<%= images.hits[1].largeImageURL %>' width='250'>
          <img src='<%= images.hits[2].largeImageURL %>' width='250'>
           <img src='<%= images.hits[3].largeImageURL %>' width='250'>
        

    </body>
</html>